[Unit]
Description=Signomix Service

[Service]
Type=simple
User=signomix
WorkingDirectory=/opt/signomix
ExecStart=/opt/signomix/signomix.sh
Restart=always

[Install]
WantedBy=multi-user.target

