/nbproject/private/
/signomix.zip
/build/
/dist/
/lib/
/nbproject/
/attic/
/reports/html/com/signomix/test/group/0_GroupTests-out.html
/reports/
/report/
/test/
/architecture.adoc
/glossary.md
/local.build.properties
/src/other/environment/localdev/readme.txt
/src/other/environment/localdev/cricket.json
/src/other/environment/localdev/run.sh
/src/other/environment/localdev/Dockerfile.template
/src/other/environment/localdev/
/webapp/blog/public/build/
/form-test.html
/target/
/tmp3/
/dependency-reduced-pom.xml
/anbproject/
/signomix-distribution.zip
/src/main/webapp/blog/public/build/
/.docker/
/.settings/
src/main/www/app/resources/iconmonstr/license.txt~
.gitignore
webapp/blog/public/build/bundle.css
webapp/blog/public/build/bundle.css.map
webapp/blog/public/build/bundle.js
webapp/blog/public/build/bundle.js.map
form-test.html~
README.md
webapp/blog/public/build/bundle.css
webapp/blog/public/build/bundle.css.map
webapp/blog/public/build/bundle.js
webapp/blog/public/build/bundle.js.map
www/status/index.html
licenseheader.txt
.vscode/settings.json
.classpath
.project
/docker-compose.dev-gs.yml
/docker-compose.local-gs.yml
/docker-compose.overlay.yml
