/nbproject/private/
/signomix.zip
/build/
/dist/
/lib/
/nbproject/
/attic/
/reports/html/com/signomix/test/group/0_GroupTests-out.html
/reports/
/report/
/test/
/architecture.adoc
/glossary.md
/local.build.properties
/src/other/environment/localdev/readme.txt
/src/other/environment/localdev/cricket.json
/src/other/environment/localdev/run.sh
/src/other/environment/localdev/Dockerfile.template
/src/other/environment/localdev/