<app-footer>
    <footer class="bg-primary text-white text-darken-2 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span>&COPY;2019</span><span>&nbsp;</span>
                    <a class="text-white text-darken-1" href="https://experiot.com.pl">EXPERIOT</a><span>&nbsp;</span>
                </div>
            </div>
        </div>
    </footer>
</app-footer>