.material-icons.md-48 { font-size: 48px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.red { color: #E74C3C; }
.material-icons.yellow { color: #F39C12; }
.material-icons.blue { color: #0D83D0; }
.module-title{
    margin-top: 20px;
}
.topspacing{
    margin-top: 20px;
}
.clickable:hover{
    cursor: pointer;
}
.separated{
    margin-left: 10px;
}
.card-bg{
    background-image: url('/images/signomix-90-bg.svg'); 
    background-size: cover;
}
.code-example {
    background-color: whitesmoke;
    border: solid;
    border-width: thin;
    border-color: lightgrey;
    padding: 1em;
    display: block;
    font-family: monospace;
    white-space: pre;
}

.panel{
    background-color: white;
    padding: 1em 1em 1em 1em;
}

.text-signo {
    color: rgb(80,80,80);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    background-color: #F8F8F8;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
}

.signomix-form{
    max-width: 600px;
    margin: 0 auto;
    border: solid;
    border-width: thin;
    border-color: lightgrey;
}

.card-header:first-child {
    /*background-color: linear-gradient(to right, #0D83D0 0%, #ffffff 100%);*/
    background-color: #F0F8FF; /*#0D83D0;*/
}
/*
a {
  color: rgb(60,60,60) !important;
}
*/
main {
    padding-top: 60px;
}

h1 {
  margin-top: 2rem;
}
h2 {
  margin-top: 1.5rem;
}
h3, h4, h5, h6 {
  margin-top: 1rem;
}
.widget {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 10px;
}