html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 960px;
}

.card-deck .card {
  min-width: 200px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.folder h1 {
  font-size: xx-large;
  font-weight: bold;
}
.list h1 {
  font-size: x-large;
  font-weight: bold;
}

.code-example {
    background-color: whitesmoke;
    border: solid;
    border-width: thin;
    border-color: lightgrey;
    padding: 1em;
}